{% load staticfiles otree_tags %}

{% block content %}
    <p>Round 7 will last 5 minutes. For this round, you are randomly matched with three other participants of your sex. For example, if you are male, you are grouped with three other male participants. Please decide which one of the two following compensation methods you would like to use for calculating your earnings:</p>
    <br />
    {% include "game_random/Method_A.html" %}
    <br />
    {% include "game_random/Method_B.html" %}
    <br />
{% endblock %}
