{% load staticfiles otree_tags %}

{% block content %}
    <p>Round 6 will last 5 minutes. You are currently matched with 3 other participants at random. Including yourself, the group consists of two male participants and two female participants. For this round, please decide which one of the two following compensation methods you would like to use for calculating your earnings:</p>
    <br />
    {% include "game_random/Method_A.html" %}
    <br />
    {% include "game_random/Method_B.html" %}
    <br />
{% endblock %}
