{% load staticfiles otree_tags %}

{% block content %}
    <p><strong>Method B</strong>:</p>
    <p>Your payment will depend on your performance relative to that of the other three participants you are grouped with. If the number of problems you solve correctly is higher than that of the other three participants, you will earn 4 yuan for each correctly solved problem.</p>
    <p>Thus, if your performance is better than the other three participants in your group, your total earnings for this round will be: 4 yuan x the number of problems you solve correctly.</p>
    <p>However, if your performance is ranked second, third, or fourth among the participants, you will earn 0 yuan regardless of the number of problems you solve correctly. If there are ties, the winner will be determined randomly from among those who are tied for the best performance.</p>
{% endblock %}
